:root {
  --font-inter: 'Inter', sans-serif;
  
}
a{
  text-decoration: none;
}
body {
  margin: 0;
  font-family: var(--font-inter);
  overflow-x: hidden;
}

p{
  color: #191e25;;
}
button{
  color: black;
  border: none;
}

html {
  scroll-behavior: smooth;
}


.fade-in {
  opacity: 0;
  transform: translateY(24px);
  transition: opacity 0.7s ease-in, transform 0.7s ease-in;
}

/* When element enters viewport */
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.blink-in {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.blink-in.visible {
  opacity: 1;
}
